doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title TeraDB
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Myune')
    link(href='public/css/bootstrap.min.css', rel='stylesheet')
    script(type='text/javascript', src='public/js/jquery.min.js')
    script(type='text/javascript', src='public/js/bootstrap.min.js')
  body
    .container-fluid
      .row.clearfix
        .col-md-12.column
          nav.navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') TeraDB
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Items
                li
                  a(href='#') Skills
                li
                  a(href='#') Glyphs
                li
                  a(href='#') Crafting
                li
                  a(href='#') Quests
                li
                  a(href='#') Tools

              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
              form.navbar-form.navbar-right(role='search')
                .form-group
                  input.form-control(type='text')
                button.btn.btn-default(type='submit') 
                  span.glyphicon.glyphicon-search
      .row.clearfix
        .col-md-2.column
          #mainPanel.panel-group
            .panel.panel-default
              .panel-heading
                a.panel-title.collapsed(data-toggle='collapse', data-parent='#mainPanel', href='#weaponsPanel') Weapon
              #weaponsPanel.panel-collapse.collapse
                .panel-body
                  table.table
                    tbody
                      tr 
                        td 
                          a(href='#') 
                            | Scythe
                      tr 
                        td 
                          a(href='#') 
                            | Twin Swords
                      tr 
                        td 
                          a(href='#') 
                            | Lance
                      tr 
                        td 
                          a(href='#') 
                            | Greatsword
                      tr 
                        td 
                          a(href='#') 
                            | Axe
                      tr 
                        td 
                          a(href='#') 
                            | Disc
                      tr 
                        td 
                          a(href='#') 
                            | Bow
                      tr 
                        td 
                          a(href='#') 
                            | Staff
                      tr 
                        td 
                          a(href='#') 
                            | Scepter

            .panel.panel-default
              .panel-heading
                a.panel-title(data-toggle='collapse', data-parent='#mainPanel', href='#armorByMaterialPanel') Armor by material
              #armorByMaterialPanel.panel-collapse.collapse
                .panel-body
                  table.table
                    tbody
                      tr 
                        td 
                            | Placeholder

            .panel.panel-default
              .panel-heading
                a.panel-title(data-toggle='collapse', data-parent='#mainPanel', href='#armorByLocationPanel') Armor by location
              #armorByLocationPanel.panel-collapse.collapse
                .panel-body
                  table.table
                    tbody
                      tr 
                        td 
                            | Placeholder

            .panel.panel-default
              .panel-heading
                a.panel-title(data-toggle='collapse', data-parent='#mainPanel', href='#skillBooksPanel') Skill Books
              #skillBooksPanel.panel-collapse.collapse
                .panel-body
                  table.table
                    tbody
                      tr 
                        td 
                            | Placeholder

            .panel.panel-default
              .panel-heading
                a.panel-title(data-toggle='collapse', data-parent='#mainPanel', href='#crystalsPanel') Crystals
              #crystalsPanel.panel-collapse.collapse
                .panel-body
                  table.table
                    tbody
                      tr 
                        td 
                            | Placeholder

        .col-md-1.column
        .col-md-8.column
          h2
            | Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details »
        .col-md-1.column

